button
	padding 8px 32px
	background-color $yellow
	text-align center
	border none
	font-family: 'Montserrat', sans-serif;
	font-weight 900
	
	&:hover
		color white
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
		transform: translateY(-2px) 
	  
	
	a
		text-decoration none
		color $blue
		

