footer
	padding 10px 0px 
	wrapped()
	background-color $red
	text-align center
	display flex
	flex-direction row
	-webkit-justify-content center
	justify-content center
	-webkit-align-items center 
	align-items center 
	

	p
		color white
			
		