.halfColumn
	wrapped()
	width 50% 
	-webkit-justify-content center 
	justify-content center
	-webkit-align-content center 
	 align-content center
	 
	+below($mobile)
		padding 0 20px 
		width 100% 


.imgHalfColumn
	align-self center
	display block 
	
	+below($mobile)
		padding 0 20px 
		width 100% 

	
