.heroUnit
  wrapped()
  height 100vh
  text-align center
  align-items center
  background url('/img/BGmandala.svg') center no-repeat, radial-gradient(50% 146%, #001D2B 50%, #000000 100%);
  background-size cover
  justify-content center
  display flex

  
  +below($mobile)

    h1
      line-height 40px
    
  
.heroUnitContentainer
  display flex
  align-items center
  justify-content center
  flex-direcion row
  flex-wrap wrap
    
  img
    padding 0 20px
    
