.menuBar
	wrapped(70%)
	min-height 150px 
	background-image: radial-gradient(50% 146%, #001D2B 50%, #000000 100%);	display flex
	-webkit-align-items center 
	align-items center
	justify-content space-between
	
	h1
		color $white
	
	+below($mobile)
		flex-wrap wrap
		justify-content center
		padding 20px 10px
		
		button
			margin-top 20px 